{% set title = 'Home' %}
{% extends 'layout.html' %}
{% block content %}
<br/>
<p>Propuesta de consumo de servicios desde el controlador de angular</p>
<br/>
<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <label>Nombre Servicio REST</label>
     <input type="text" class="form-control" ng-model="java.restname">
  </div>
</div>
<br/>


<div class="row">
  <div class="col-md-10">
    <angular-controller services="services"></angular-controller>

    <!--code ng-bind="java"></code-->
  </div>
</div>
{% endblock %}
